@(title: String, langFrom: String, langTo: String, script: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/normalize.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/underscore.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/backbone.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/mustache.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/memopedia.js")" type="text/javascript"></script>
    <script type="templ/html" charset="utf-8" id="card">
          <div class="view card">
              <nav>
                  <a href="">☞</a>
              </nav>
              <section>
                  <article>
                      <img src="{{url}}"
                           alt="{{word}}"/>

                      <div class="desc">
                          <h1>{{trad}}</h1>

                          <h2>{{word}}</h2>
                      </div>
                  </article>
              </section>
              <p>{{word}}, c'est bien</p>
              <video controls="" autoplay="" name="media"><source src="{{speech}}" type="audio/mpeg"></video>
          </div>
      </script>
      <script type="templ/html" charset="utf-8" id="question">
          <div class="view card">
              <section>
                  <article>
                      <img src="{{url}}"
                           alt="{{word}}"/>

                      <div class="desc">
                          <h2>{{word}}</h2>

                          <input type=text>
                      </div>
                  </article>
              </section>
              <p>{{word}}, c'est bien</p>
              <video controls="" autoplay="" name="media"><source src="{{speech}}" type="audio/mpeg"></video>
          </div>
      </script>
      <script type="text/javascript" charset="utf-8">
        $(function(){
          console.log('Start')
          w = new WebSocket("ws://" + window.location.host + "/events");
          w.onmessage = function(e) {
            console.log('received %o', e);
            var m = JSON.parse(e.data);
            console.log(m);
          };
        })
      </script>
  </head>
  <body>
    <header>
      <a href="/"><img src="/assets/images/lougou-choulou.png" lat="" /></a>
    </header>
    <div id="content">
    </div>
    <footer>
      <p>I am Donald Trump and I approve Memopedia.</p>
    </footer>
    @script
  </body>
</html>
